@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
}

.navbar {
  @apply bg-blue-600 flex flex-row justify-start w-full items-center
}

.navbar-link {
  @apply text-white hover:bg-blue-400 px-2 mx-2 py-4 h-full
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  h1 {
    @apply text-3xl font-bold m-4
  }
 
  h2 {
    @apply text-2xl font-bold m-2
  }

  h3 {
    @apply text-xl font-bold m-2
  }
 
  h4 {
    @apply text-lg font-bold m-2
  }
}

option {
  font-family: Inter, Arial, Helvetica, sans-serif;
}